import { defineConfig } from 'vite';
import react from '@vitejs/plugin-react';
import postcssImport from 'postcss-import';

export default defineConfig({
  plugins: [react()],
  css: {
    postcss: {
      plugins: [
        postcssImport({
          skipDuplicates: true, // Skip duplicate imports which may cause charset issues
        }),
        // Add other PostCSS plugins here if needed
      ],
    },
  },
});
