import { defineConfig } from 'vite';
import react from '@vitejs/plugin-react';
import postcssImport from 'postcss-import';
import postcssCharset from 'postcss-import';
import postcssPresetEnv from 'postcss-preset-env';

export default defineConfig({
  plugins: [react()],
  css: {
    postcss: {
      plugins: [
        postcssCharset({ add: false }), // Remove existing charset declarations
        postcssImport(),
        postcssPresetEnv(),
      ],
    },
  },
});
